<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dev_qualicom.projet_poseurs">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.dev_qualicom.projet_poseurs.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".planning" />
        <activity android:name=".demande_intervention" />
        <activity android:name=".enquete_preliminaire" />
        <activity android:name=".ep_mauvais" />
        <activity android:name=".ep_bon" />
        <activity android:name=".validation_install" />
        <activity android:name=".photo_pre_inter_avant" />
        <activity android:name=".photo_post_inter_avant" />
        <activity android:name=".photo_pre_inter" />
        <activity android:name=".photo_pre_inter_2" />
        <activity android:name=".valid_photo_pre_inter" />
        <activity android:name=".guide_inter" />
        <activity android:name=".compte_rendu_signature" />
        <activity android:name=".compte_rendu_q" />
        <activity android:name=".compte_rendu" />
        <activity android:name=".proces_verbal_donner_tab" />
        <activity android:name=".donner_tab_client" />
        <activity android:name=".enquete_preliminaire_terminee" />
        <activity android:name=".proces_verbal" />
        <activity android:name=".proces_verbal_signature" />
        <activity android:name=".q_satisfaction" />
        <activity android:name=".q_satisfaction2" />
        <activity android:name=".q_satisfaction3" />
        <activity android:name=".q_satisfaction_temoignage" />
        <activity android:name=".q_satisfaction_photo" />
        <activity android:name=".q_satisfaction_validation" />
        <activity android:name=".sepa_photo" />
        <activity android:name=".demande_financement" />
        <activity android:name=".cheque_paiement" />
        <activity android:name=".finalisation_inter" />
        <activity android:name=".finalisation_inter_certif" />
        <activity android:name=".finalisation_inter_import_thermique" />
        <activity android:name=".finalisation_inter_termine" />
        <activity android:name=".finalisation_rappel_envoi_docs" />
        <activity android:name=".final_final" />
        <activity android:name=".photo_post_inter" />
        <activity android:name=".photo_post_inter2" />
        <activity android:name=".valid_photo_post_inter" />
        <activity android:name=".finalisation_inter_import_thermique2" />
        <activity android:name=".autor_donnees" />
        <activity android:name=".q_satisfaction_debut" />
        <activity android:name=".enquete_preliminaire_recap_signature" />
        <activity android:name=".enquete_preliminaire_apres_num"></activity>
    </application>

</manifest>